@model Cesar.Controllers.TesteController;

<hr />

<form method="POST"
      asp-action="Index"
      asp-controller="Teste">

    <h2>Codificacao de César (Cifra de César)</h2>

    <h3>Defina a distância das letras:</h3>
    <input type="number" name="n" />

    <h3>Digite a palavra:</h3>
    <input type="text" id="texto" name="texto" /><br />

    <p></p>

    <input type="submit" value="Codificar" name="tipo" />

    <p></p>

    <input type="submit" value="Decodificar" />
</form>



<hr />
<h4>Texto Original:</h4>
<p>@Model.Texto</p>


<h4>Palavra Convertida(@Model.Passo): </h4>
@if (Model.palavraCodificada != null && Model.palavraCodificada.Any()) <p><strong>@string.Join("", Model.palavraCodificada)</strong></p>
else <li>Nenhum caractere válido encontrado.</li>
